@charset "UTF-8";

// 1. Base stuff
@use "base/base";
// @use "base/fonts";
// @use "base/helpers";
// @use "base/typography";

// // 2. Themes
@use "themes/default";
@use "themes/dark";

// // 3. Layout-related sections
@use "layout/navbar";

// // 4. Components
@use "components/left-tabs";
@use "components/right-tabs";
@use "components/round-toggle.scss";

// // 5. Pages
// // dunno if this needs to be here yet
