@use "../abstracts";

.left-tabs {
  display: flex;
  height: 100%; // ensures tabs fill navbar vertically

  .tab {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 1rem;

    clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 100%, 0 100%);

    background-color: var(--tab-inactive-color);
    color: var(--tab-text-inactive-color);
    border: 1px solid var(--tab-inactive-border);
    border-bottom: none;
    cursor: pointer;
    transition: all 0.25s ease;
    text-decoration: none;

    // Adds spacing between tabs visually
    margin-right: 5px;

    &.active {
      background-color: var(--tab-active-color);
      color: var(--tab-text-active-color);
      border-color: transparent;
      z-index: 2;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    &:hover {
      color: var(--tab-active-color);
    }
  }
}
