@use "../abstracts";

.left-tabs {
  display: flex;
  height: 100%;

  .tab {
    text-decoration: none;
    color: var(--tab-text-inactive-color);
    background-color: var(--tab-inactive-color);
    flex: 1;
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 1rem;
    margin: 0rem 0.5rem;
    text-shadow: 0 1px 0 rgba(0, 2, 0, 0.4);
    border-bottom: 1px solid var(--tab-inactive-color);
    cursor: pointer;
    transition: all 0.25s ease;
    text-decoration: none;
    border-radius: 7px 7px 0 0; /* just to smooth the top edges */

    &:before,
    &:after {
      content: " ";
      position: absolute;
      top: -1px;
      width: 23px;
      height: calc(100% + 3px); /* extend to cover bottom gap */
      background-color: inherit;
    }
    &:before {
      border-radius: 12px 0 0 0;
      transform: skew(-24deg);
      left: -10px;
    }
    &:after {
      border-radius: 0 12px 0 0;
      transform: skew(24deg);
      right: -10px;
      border-right: 1px solid #628e2f;
      z-index: 1; /* overlap next element */
    }

    &.active {
      background-color: var(--tab-active-color);
      color: var(--tab-text-active-color);
      border-color: transparent;
      z-index: 2;

      &:hover {
        color: var(--tab-text-active-color);
      }
    }

    &.active &:before {
      border-bottom: 1px solid var(--tab-active-color);
    }

    &:hover {
      color: var(--tab-active-color);
    }
  }
}
