@use "../abstracts";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  padding-top: 1rem;
  background-color: var(--nav-background-color);
  overflow: hidden;
}
