:root {
  --nav-background-color: rgb(90, 200, 250);
  --tab-active-color: rgb(255, 255, 255);
  --tab-inactive-color: rgb(139, 191, 80);
  --tab-inactive-border: rgb(0, 0, 0);
  --tab-text-active-color: rgb(139, 191, 80);
  --tab-text-inactive-color: rgb(80, 80, 80);

  --background-color: rgb(255, 255, 255);
}
