:root {
  --nav-background-color: rgb(90, 200, 250);
  --tab-active-color: rgb(52, 170, 220);
  --tab-inactive-color: rgb(0, 122, 255);
  --tab-inactive-border: rgb(0, 0, 0);
  --tab-text-active-color: rgb(255, 255, 255);
  --tab-text-inactive-color: rgb(142, 142, 147);

  --background-color: rgb(52, 170, 220);
}
